# Write a Python program to sum all the items in a list

In [2]:
l = [23, 87, 97, 199, 37,76, 63]
total = 0
for ele in range (0, len(l)):
    total = total + l[ele]
print("The sum of all elements in l:", total)

The sum of all elements in l: 582

# Write a Python program to multiplies all the items in a list

In [4]:
l = [23, 87, 97, 199, 37,76, 63]
total = 1
for ele in range (0, len(l)):
    total = total * l[ele]
print("The multiplication of all elements in l:", total)

The multiplication of all elements in l: 6842704178268

# Write a Python program to get the largest number from a list

In [5]:
l = [23, 87, 97, 199, 37,76, 63]
l.sort()
print("The largest number is:", l[-1])

The largest number is: 199

# Write a Python program to get the smallest number from a list

In [10]:
l = [23, 87, 97, 199, 3,76, 63]
l.sort()
print("The smallest number is:", l[0])

The smallest number is: 3

# Write a Python program to count the number of characters in a string

In [80]:
def char_frequency(str):
    dict = {}
    for n in str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# Write a Python function that takes a list of words and returns the length of the longest one

In [38]:
def longestLength(a):
    max1 = len(a[0])
    temp = a[0]
 
    
    for i in a:
        if(len(i) > max1):
 
            max1 = len(i)
            temp = i
 
    print("The word with the longest length is:", temp,
          " and length is ", max1)
 
 

a = ["one", "two", "third", "four", "Sixteen"]
longestLength(a)

The word with the longest length is: Sixteen  and length is  7

# Write a Python program to sort (ascending and descending) a dictionary by value

In [31]:
input_age = {'Ram': 23, 'Shyam': 37, 'Dhanus': 18, 'Dipak': 45}

sort_ascending = dict(sorted(input_age.items(), key=lambda item: item[1], reverse=False))

print(sort_ascending)

sort_descending = dict(sorted(input_age.items(), key=lambda item: item[1], reverse=True))

print(sort_descending)

{'Dhanus': 18, 'Ram': 23, 'Shyam': 37, 'Dipak': 45}
{'Dipak': 45, 'Shyam': 37, 'Ram': 23, 'Dhanus': 18}

# Write a Python program to add key to a dictionary

In [40]:
age_dict = {'Ram': 23, 'Shyam': 37, 'Dhanus': 18, 'Dipak': 45}
print("Actual Dict is:", age_dict)
 
age_dict['Shyam'] = '39'
age_dict['Lipika'] = '24'
print("Updated Dict is:", age_dict)

Actual Dict is: {'Ram': 23, 'Shyam': 37, 'Dhanus': 18, 'Dipak': 45}
Updated Dict is: {'Ram': 23, 'Shyam': '39', 'Dhanus': 18, 'Dipak': 45, 'Lipika': '24'}

# Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples

In [61]:
def last(n):
    return n[1]  
  
def sort1(tuples):
    return sorted(tuples, key=last)
  
a=[(1, 3), (3, 2), (2, 1)]
print("Sorted Increasing Order by last key:")
print(sort1(a))

Sorted Increasing Order by last key:
[(2, 1), (3, 2), (1, 3)]

# Write a Python program to get a list, sorted in increasing order by the First element in each tuple from a given list of non-empty tuples

In [62]:
def First(n):
    return n[0] 

def sort2(tuples):
    return sorted(tuples, key=First)
  
a=[(1, 3), (3, 2), (2, 1)]
print("Sorted Increasing by First key:")
print(sort2(a))

Sorted Increasing by First key:
[(1, 3), (2, 1), (3, 2)]

# Write a Python program to create a class representing a Circle. Include methods to calculate its area and perimeter

In [88]:
import math


class Circle:
    def __init__(self, radius):
        self.radius = radius
    
    def calculate_circle_area(self):
        return math.pi * self.radius**2
    
    def calculate_circle_perimeter(self):
        return 2 * math.pi * self.radius

radius = float(input("Input the radius of the circle: "))

circle = Circle(radius)

area = circle.calculate_circle_area()

perimeter = circle.calculate_circle_perimeter()

print("Area of the circle:", area)
print("Perimeter of the circle:", perimeter)

Input the radius of the circle: 78
Area of the circle: 19113.4497044403
Perimeter of the circle: 490.0884539600077

# Write a Python program to create a person class. Include attributes like name, country and date of birth. Implement a method to determine the person's age

In [26]:
from datetime import date
class Person:
    def __init__(self, name, country, date_of_birth):
        self.name = name
        self.country = country
        self.date_of_birth = date_of_birth
    def calculate_age(self):
        today = date.today()
        age = today.year - self.date_of_birth.year
        if today < date(today.year, self.date_of_birth.month, self.date_of_birth.day):
            age -= 1
        return age
name = str(input("Name: "))
country = str(input("Country: "))    

person1 = Person(name, country, date(1995, 1, 24))

print("Name:", person1.name)
print("Country:", person1.country)
print("Date of Birth:", person1.date_of_birth)
print("Age:", person1.calculate_age())

Name: Souvik Kundu
Country: India
Name: Souvik Kundu
Country: India
Date of Birth: 1995-01-24
Age: 29

# Write a Python program to create a calculator class. Include methods for basic arithmetic operations

In [30]:
import math
class Cal:
    def __init__(self, value1, value2):
        self.value1 = value1
        self.value2 = value2
    
    def summation(self):
        return value1 + value2
    
    def multiplication(self):
        return value1 * value2
    
    def substraction(self):
        return value1 - value2
    
    def divide(self):
        return value1 / value2

value1 = float(input("Input a greater number: "))

value2 = float(input("Input a lesser number: "))

cal = Cal(value1, value2)

summation = cal.summation()

multiplication = cal.multiplication()

substraction = cal.substraction()

divide = cal.divide()

print("The Greater number:", value1)
print("The Lesser number:", value2)
print("Summation:", summation)
print("Multiplication:", multiplication)
print("Substraction:", substraction)
print("Divide:", divide)

Input a greater number: 567
Input a lesser number: 67
The Greater number: 567.0
The Lesser number: 67.0
Summation: 634.0
Multiplication: 37989.0
Substraction: 500.0
Divide: 8.462686567164178

# Write a Python program to create a class that represents a shape. Include methods to calculate its area and perimeter. Implement subclasses for different shapes like circle, triangle, and square

In [33]:
import math


class Shape:
    
    def calculate_area(self):
        pass

    
    def calculate_perimeter(self):
        pass


class Circle(Shape):
    
    def __init__(self, radius):
        self.radius = radius

    
    def calculate_area(self):
        return math.pi * self.radius**2

    
    def calculate_perimeter(self):
        return 2 * math.pi * self.radius


class Rectangle(Shape):
    
    def __init__(self, length, width):
        self.length = length
        self.width = width
    
    def calculate_area(self):
        return self.length * self.width

    
    def calculate_perimeter(self):
        return 2 * (self.length + self.width)


class Triangle(Shape):
    
    def __init__(self, base, height, side1, side2, side3):
        self.base = base
        self.height = height
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3
    
    def calculate_area(self):
        return 0.5 * self.base * self.height

    
    def calculate_perimeter(self):
        return self.side1 + self.side2 + self.side3


r = float(input("Enter the Radius:"))
circle = Circle(r)
circle_area = circle.calculate_area()
circle_perimeter = circle.calculate_perimeter()


print("Radius of the circle:", r)
print("Circle Area:", circle_area)
print("Circle Perimeter:", circle_perimeter)


l = float(input("Enter the Length of Rectangle:"))
w = float(input("Enter the Width of Rectangle:"))
rectangle = Rectangle(l, w)
rectangle_area = rectangle.calculate_area()
rectangle_perimeter = rectangle.calculate_perimeter()


print("\nRectangle: Length =", l, " Width =", w)
print("Rectangle Area:", rectangle_area)
print("Rectangle Perimeter:", rectangle_perimeter)


base = float(input("Enter the base of triangle:"))
height = float(input("Enter the height of triangle:"))
s1 = float(input("Enter the Side1 of triangle:"))
s2 = float(input("Enter the Side2 of triangle:"))
s3 = float(input("Enter the Side3 of triangle:"))


print("\nTriangle: Base =", base, " Height =", height, " side1 =", s1, " side2 =", s2, " side3 =", s3)
triangle = Triangle(base, height, s1, s2, s3)
triangle_area = triangle.calculate_area()
triangle_perimeter = triangle.calculate_perimeter()
print("Triangle Area:", triangle_area)
print("Triangle Perimeter:", triangle_perimeter)

Enter the Radius:6
Radius of the circle: 6.0
Circle Area: 113.09733552923255
Circle Perimeter: 37.69911184307752
Enter the Length of Rectangle:7
Enter the Width of Rectangle:8

Rectangle: Length = 7.0  Width = 8.0
Rectangle Area: 56.0
Rectangle Perimeter: 30.0
Enter the base of triangle:7
Enter the height of triangle:7
Enter the Side1 of triangle:8
Enter the Side2 of triangle:9
Enter the Side3 of triangle:90

Triangle: Base = 7.0  Height = 7.0  side1 = 8.0  side2 = 9.0  side3 = 90.0
Triangle Area: 24.5
Triangle Perimeter: 107.0

# Write a Python class named Student with two attributes student_name, marks. Modify the attribute values of the said class and print the original and modified values of the said attributes

In [35]:
class Student:
    student_name = str(input("Enter the name of student:"))
    marks = float(input("Enter the marks:"))  
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")
modify_name = str(input("Enter the name of student:"))
modify_marks = float(input("Enter the marks:")) 
setattr(Student, 'student_name', modify_name)
setattr(Student, 'marks', modify_marks) 
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")

Enter the name of student:souvik
Enter the marks:56
Student Name: souvik
Marks: 56.0
Enter the name of student:banisha
Enter the marks:67
Student Name: banisha
Marks: 67.0

# Write a Python program to read first n lines of a file

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Souvik Kundu/Desktop/5 Weeks Workshop Python July 2024/country_wise_latest.csv")
df.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

# Write a Python program to count the number of lines in a text file

In [49]:
with open(r"C:/Users/Souvik Kundu/Desktop/5 Weeks Workshop Python July 2024/country_wise_latest.csv", 'r') as fp:
    lines = len(fp.readlines())
    print('Total Number of lines:', lines)

Total Number of lines: 188

# Write a Python program to get the file size of a plain file

In [52]:
import os
file_size = os.stat("C:/Users/Souvik Kundu/Desktop/5 Weeks Workshop Python July 2024/country_wise_latest.csv")
print("Size of file :", file_size.st_size, "bytes")

Size of file : 14784 bytes

# Write a Python program to write a list to a file

In [57]:
my_list = ["Souvik\n", "Kundan\n", "Niloy\n", "Priyanka\n"]

file1 = open("C:/Users/Souvik Kundu/Desktop/5 Weeks Workshop Python July 2024/name.txt", 'w')
file1.writelines(my_list)
file1.close()

# Write a Python program that takes a text file as input and returns the number of words of a given text file

In [60]:
number_of_words = 0
with open(r'name.txt','r') as file:
    data = file.read()
    lines = data.split()
    number_of_words += len(lines)
    print(number_of_words)

4